{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

{% for user in users %}
<div class="container shadow rounded bg-light my-3">
    <div class="row d-flex p-3">
        <div class="col">
        {# Todo : add id in profile route so the admin can see users' profile #}
            <p class="text bold">{{ user.lastname }} {{ user.firstname }} - Nombre d'objets en ligne : {{user.itemToBorrows | length}}</p>
            <a href="{{ path('app_myprofile', {id:user.id}) }}"><button class="btn btn-secondary shadow">Voir le profil</button</a>
            <button class="btn btn-danger shadow">Bloquer</button>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}