<div class="container shadow rounded w-75 bg-secondary mx-auto my-3">
    <div class="row d-flex justify-content-center align-items-center p-3">
        <div class="col-12 col-md-3">
            <label for="name" class="form-label">Je cherche...</label>
            <input name="name" type="text" id="keyword" class="form-control"></input>
        </div>
        {# <div class="col-12 col-md-3">
            <label for="date" class="form-label">Date</label>
            <input name="date" type="date" id="date" class="form-control"></input>
        </div> #}
        {# Todo : create a route to redirect search when doing it with button (in home page for instance) #}
        <div class="col-12 col-md-3 my-1">
            <button id="search_button" class="btn btn-primary shadow">Rechercher</button>
        </div>
    </div>
</div>