{% extends "base.html.twig" %}

{% block title %}Accueil - Green Troc{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="header-img">
            <div class="container">
                <div class="row">
                    <h1 class="text-center col-12 p-3">Prêtez et empruntez vos objets en quelques clics à Lyon et ses environs</h1>
                </div>
                <div class="row d-flex flex-column align-items-sm-end">
                    <p class="col-sm-12 d-none d-sm-flex col-md-5 col-lg-6 p-3 shadow rounded bg-light text-center">Pas envie d’acheter une perçeuse pour seulement quelques minutes d’utilisation ?
    Nous avons la solution ! Notre plateforme te permet de trouver des objets à emprunter proche de chez toi, pour quelques heures ou plus. 
    Comme ça en plus d’avoir une nouvelle déco, tu auras peut-être de nouveaux compagnons d’apéro dans ton quartier !</p>
                    <a class="col-sm-12 col-md-5 btn btn-secondary shadow text-primary fw-bold m-1" href="{{path('app_item')}}">Voir tous les objets disponibles</a>
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-3 d-flex flex-column align-items-center justify-content-center m-2">
            <img class="img-fluid" src="{{ asset('build/images/box_money_icon.png') }}">
            <p>Une plateforme à but non lucratif</p>
        </div>
        <div class="col-3 d-flex flex-column align-items-center justify-content-center m-2">
            <img class="img-fluid" src="{{ asset('build/images/verified_icon.png') }}">
            <p>Des utilisateurs vérifiés</p>
        </div>
        <div class="col-3 d-flex flex-column align-items-center justify-content-center m-2">
            <img class="img-fluid" src="{{ asset('build/images/ecology_icon.png') }}">
            <p>Une démarche écologique</p>
        </div>
    </div>
</div>

{% endblock %}