{% extends 'base.html.twig' %}

{% block title %}Chercher un objet{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row d-flex justify-content-center">
    {% for item in items %}
        <div class="card col-3 m-2">
            <img src="../uploads/{{ item.picture }}" class="card-img-top" alt="photo de l'objet">
            <div class="card-body">
                <h3 class="card-title">{{ item.name }}</h3>
                <p class="card-text">{{ item.category }}</p>
                <a href="{{ path('app_item_show', {id:item.id}) }}" class="btn btn-primary">Plus de détails</a>
            </div>
        </div> 
    {% endfor %}
    </div>
</div>
{% endblock %}
